<% layout('layouts/boilerplate') %>
<h1>Register</h1>

<!-- Begin Form -->
<form action="/register" method="POST" class="needs-validation" novalidate>
    <!-- Username Input -->
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
        <div class="invalid-feedback">
            Please enter a valid username
        </div>
    </div>

    <!-- Email Input -->
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
        <div class="invalid-feedback">
            Please enter a valid email address
        </div>
    </div>

    <!-- Password Input -->
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
        <div class="invalid-feedback">
            Please enter a valid password
        </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<!-- End Form -->
